<!DOCTYPE html>
<html ng-app="viewsApp">
<head>
	<title>Review</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.3/angular-animate.min.js"></script>
	<script type="text/javascript" src="angular-local-storage.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="controller2.js"></script>
</head>
<style type="text/css">
	.fade.ng-enter {
		transition:0.5s linear all;
		opacity:0;
		}

	.fade.ng-enter.ng-enter-active {
	  opacity:1;
	}
</style>
<body ng-controller="viewsController">

	<div ng-if="bool" class="fade">
  		Fade me in out
	</div>
	<button ng-click="bool=true">Fade In!</button>
	<button ng-click="bool=false">Fade Out!</button>

	<div id="wrapper">
		<div class="myViews" ng-view></div>
		<a href="#/0">Go to template</a>
	</div>

	


</body>
</html>