/* line 2, ../compass/sass/style.scss */
#map, #city-map {
  height: 100vh;
  width: 75%;
  float: left;
}

/* line 7, ../compass/sass/style.scss */
#map-panel {
  padding-top: 10px;
  background-color: #e6e6e6;
  overflow: auto;
  height: 100vh;
  width: 25%;
  float: left;
}
/* line 14, ../compass/sass/style.scss */
#map-panel .blue-button {
  display: inline;
  border: 2px solid #3989e5;
  text-decoration: none;
  background-color: #4099ff;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 7px 10px;
  text-shadow: 1px 1px black;
  cursor: pointer;
}
/* line 26, ../compass/sass/style.scss */
#map-panel .red-button {
  text-align: center;
  border: 2px solid #428bca;
  text-decoration: none;
  background-color: #d9534f;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 7px 10px;
  text-shadow: 1px 1px black;
}

/* line 38, ../compass/sass/style.scss */
.zoom-button {
  border: 2px solid #3989e5;
  text-decoration: none;
  background-color: #4099ff;
  color: white;
  border-radius: 5px;
  width: auto;
  padding: 7px 10px;
  text-shadow: 1px 1px black;
}

/* line 48, ../compass/sass/style.scss */
#driving-directions {
  background-color: #e6e6e6;
  overflow: auto;
  width: 25%;
  float: left;
}

/* line 54, ../compass/sass/style.scss */
.view-height {
  height: 100vh;
}

/* line 57, ../compass/sass/style.scss */
img {
  width: 5%;
}

/* line 60, ../compass/sass/style.scss */
.city-name {
  font-size: 18px;
  margin: 5px 0;
}

/* line 64, ../compass/sass/style.scss */
#options {
  background-color: #e6e6e6;
  overflow: auto;
  width: 25%;
  float: left;
}
/* line 69, ../compass/sass/style.scss */
#options input {
  margin-left: 30%;
}
/* line 72, ../compass/sass/style.scss */
#options span {
  font-size: 18px;
  color: green;
  margin: 2px 0 5px 0;
}
/* line 76, ../compass/sass/style.scss */
#options span img {
  width: 3.5%;
  margin-bottom: 6px;
}
/* line 81, ../compass/sass/style.scss */
#options .blue-three-button {
  text-decoration: none;
  background-color: #4099ff;
  color: white;
  border-radius: 5px;
  width: 40%;
  padding: 7px 10px;
  border: 2px solid #3989e5;
  text-shadow: 1px 1px black;
  text-align: center;
  margin-top: 5px;
}

/* line 96, ../compass/sass/style.scss */
.get-directions {
  cursor: pointer;
}

/* line 99, ../compass/sass/style.scss */
.hidden ol {
  display: none;
}
