<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular HW</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="angular.hw.js"></script>
</head>
<body ng-controller='myController'>

<table border=1>
	<thead>
		<th>Country Name</th>
		<th>Country Population</th>
		<th>Country President</th>
		<th>Country Flag Colors</th>
	</thead>
		<tr ng-repeat="country in countries track by $index">
			<td>{{country.name}}</td>
			<td>{{country.population}}</td>
			<td>{{country.president}}</td>
			<td><img ng-src='{{country.src}}'></td>
		</tr>
	</table>

	<form ng-submit="addCountry()" name='form'>
		<input type="text" required ng-minlength="3" ng-model="newCountry" placeholder="Add Country">
		<input type="text" required ng-minlength="3" ng-model="newPopulation" placeholder="Add Population">
		<input type="text" required ng-minlength="3" ng-model="newPresident" placeholder="Add President">
		<input type="text" required ng-minlength="3" ng-model="newFlag" placeholder="Add Flag">
		<input type="submit" ng-disabled='form.$invalid' value="add">
	</form>


</body>
</html>