<!DOCTYPE html>
<html ng-app='mapsApp'>
<head>
	<title>Cities</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFKiFEGeuqRKFi_JjCjpY4WQohQK49Z7E&libraries=geometry,places">
</script>
  <script type="text/javascript" src="cities2.js"></script>
  <script type="text/javascript" src="controller.js"></script>
	<!--  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> -->
</head>
<body ng-controller='mapsController'>

<div id="map"></div>

<div id="map-panel">
  <ol>
      <li ng-repeat="city in cities track by $index">
        <div class="city-name">{{city.city}}</div>      
        <a href="" ng-click="cityClick($index)" class="blue-button">Show Info</a>
      </li>
    </ol>
</div>

 <div id="places-option" class="hidden">
    <div class="places-selected" ng-repeat="place in places">
      <input class="" type="checkbox" ng-model="item.checked">
      <button class="blue-three-button">{{place}}</button>
      <span ng-show="item.checked" >Selected</span>
    </div>
</div>

  <div id="places-option"></div>

</body>
</html>